/* Matugen generated Walker theme */

* {
  all: unset;
}

* {
  font-family: "Zed Sans", "Zed Mono", sans-serif;
  font-size: 15px;
  color: #dee3e5;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: #0e1416F2; /* 95% opacity */
  padding: 16px;
  border: 1px solid #899295D9;
  border-radius: 17px;
  min-height: 480px;
}

.search-container {
  background: #252b2c;
  padding: 12px 16px;
  border-radius: 9999px;
  margin-bottom: 12px;
}

.input placeholder {
  opacity: 0.7;
  color: #bfc8cb;
}

.input {
  font-size: 16px;
  font-weight: 500;
  color: #dee3e5;
}

child:hover .item-box {
  background: #303637;
  border-radius: 12px;
}

child:selected .item-box {
  background: #334a50;
  border-radius: 12px;
}

child:selected .item-box * {
  color: #cde7ee;
}

.item-box {
  padding: 10px 14px;
  margin: 2px 0;
  border-radius: 12px;
}

.item-text {
  font-size: 14px;
  font-weight: 500;
  color: #dee3e5;
}

.item-subtext {
  font-size: 11px;
  color: #bfc8cb;
  margin-top: 2px;
}

.match {
  color: #83d2e4;
  font-weight: bold;
}

.preview-box {
  background: #1b2122;
  border-radius: 12px;
  padding: 12px;
  margin-left: 12px;
}
