/* Matugen generated Walker theme */

* {
  all: unset;
}

* {
  font-family: "Google Sans", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 15px;
  color: {{colors.on_surface.default.hex}};
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: {{colors.surface.default.hex}}F2; /* 95% opacity */
  padding: 16px;
  border: 1px solid {{colors.outline.default.hex}}D9;
  border-radius: 17px;
  min-height: 480px;
}

.search-container {
  background: {{colors.surface_container_high.default.hex}};
  padding: 12px 16px;
  border-radius: 9999px;
  margin-bottom: 12px;
}

.input placeholder {
  opacity: 0.7;
  color: {{colors.on_surface_variant.default.hex}};
}

.input {
  font-size: 16px;
  font-weight: 500;
  color: {{colors.on_surface.default.hex}};
}

child:hover .item-box {
  background: {{colors.surface_container_highest.default.hex}};
  border-radius: 12px;
}

child:selected .item-box {
  background: {{colors.secondary_container.default.hex}};
  border-radius: 12px;
}

child:selected .item-box * {
  color: {{colors.on_secondary_container.default.hex}};
}

.item-box {
  padding: 10px 14px;
  margin: 2px 0;
  border-radius: 12px;
}

.item-text {
  font-size: 14px;
  font-weight: 500;
  color: {{colors.on_surface.default.hex}};
}

.item-subtext {
  font-size: 11px;
  color: {{colors.on_surface_variant.default.hex}};
  margin-top: 2px;
}

.match {
  color: {{colors.primary.default.hex}};
  font-weight: bold;
}

.preview-box {
  background: {{colors.surface_container.default.hex}};
  border-radius: 12px;
  padding: 12px;
  margin-left: 12px;
}
